parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    parallel:
    	processTimeout: 300.00
    paths:
        - %currentWorkingDirectory%/src/